<h1>Card Manager</h1>
Manage Cards
<h3>Actions</h3>
<%= link_to("Add Card", :action => :add_card_form) %>
<h3>Card List</h3>
<table>
    <tr>
        <th>Tag</th>
        <th>Cite</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <% @cards.each do |card| %>
        <tr>
            <td><%= card.tag %></td>
            <td><%= card.cite %></td>
            <td><%= link_to("Edit", :action => :edit_card_form, :id => card.id) %></td>
            <td><%= link_to("Delete", :action => :delete_card, :id => card.id) %></td>
        </tr>
    <% end %>
</table>

